html,
body {
  box-sizing: border-box;
  margin: 0;
  background-color: #efefef;
  scroll-behavior: smooth;
}

.App {
  font-family: Josefin Sans;
  text-align: center;
  height: 100%;
  width: 100vw;
}

.text-reveal {
  display: grid;
  place-content: center;
  gap: 16px;
  width: inherit;
  height: auto;
}

.span-container {
  font-size: 44px;
  font-weight: normal;
  line-height: 52px;
  font-weight: bold;
  color: #201e1e;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.span-letters {
  display: inline-flex;
}

.grid-container {
  height: 100%;
  display: flex;
  padding: 32px;
  gap: 32px;
}

.content {
  width: 100%;
}
